@tailwind base;
@tailwind components;
@tailwind utilities;

/* rainbow text for hero text */
#rainbow {
  background-image: linear-gradient(
    to right,
    rgb(254, 53, 53),
    orange,
    yellow,
    green,
    rgb(89, 89, 255),
    rgb(96, 49, 129),
    violet,
    red
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: rainbow-animation 2000s linear infinite;
}

@keyframes rainbow-animation {
  to {
    background-position: 4500vh;
  }
}

.radial-gradient {
  background: radial-gradient(ellipse at bottom, #213041 0%, #151722 100%);
}

* {
  scroll-behavior: smooth;
}

/* pulse effect for hero bottom */
.pulse {
  animation: pulse 2s infinite;
}
@keyframes pulse {
  0% {
    transform: scale(0.9);
    opacity: 0.2;
  }

  70% {
    transform: scale(1);
    opacity: 1;
    translate: 0px 20px;
  }

  100% {
    transform: scale(0.9);
    opacity: 0.2;
  }
}

.show {
  transform: translateX(0);
  opacity: 1;
  transition: 300ms;
}

.hide {
  transform: translateX(100px);
  opacity: 0;
  transition: 300ms;
}
