@tailwind base;
@tailwind components;
@tailwind utilities;

/* rainbow text for hero text */
#rainbow {
  background-image: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet,
    red
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: rainbow-animation 1000s linear infinite;
}

@keyframes rainbow-animation {
  to {
    background-position: 4500vh;
  }
}

.radial-gradient {
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
}

* {
  scroll-behavior: smooth;
}

/* pulse effect for hero bottom */
.pulse {
  animation: pulse 2s infinite;
}
@keyframes pulse {
  0% {
    transform: scale(0.9);
    opacity: 0.2;
  }

  70% {
    transform: scale(1);
    opacity: 1;
    translate: 0px 20px;
  }

  100% {
    transform: scale(0.9);
    opacity: 0.2;
  }
}
